In [1019]:
import pandas as pd

In [1020]:
df = pd.read_csv("PLmatches.csv")
df.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2024-08-17,12:30,Premier League,Matchweek 1,Sat,Away,W,2.0,0.0,Ipswich Town,...,Match Report,NaN,18.0,5.0,14.8,0.0,0,0,2024,Liverpool
1,2024-08-25,16:30,Premier League,Matchweek 2,Sun,Home,W,2.0,0.0,Brentford,...,Match Report,NaN,19.0,8.0,13.6,1.0,0,0,2024,Liverpool
2,2024-09-01,16:00,Premier League,Matchweek 3,Sun,Away,W,3.0,0.0,Manchester Utd,...,Match Report,NaN,11.0,3.0,13.4,0.0,0,0,2024,Liverpool
3,2024-09-14,15:00,Premier League,Matchweek 4,Sat,Home,L,0.0,1.0,Nott'ham Forest,...,Match Report,NaN,14.0,5.0,14.9,0.0,0,0,2024,Liverpool
4,2024-09-21,15:00,Premier League,Matchweek 5,Sat,Home,W,3.0,0.0,Bournemouth,...,Match Report,NaN,19.0,12.0,16.6,0.0,0,0,2024,Liverpool

In [1021]:

df['team'].value_counts()
df['round'].value_counts()

round
Matchweek 1     160
Matchweek 17    160
Matchweek 28    160
Matchweek 27    160
Matchweek 26    160
Matchweek 25    160
Matchweek 15    160
Matchweek 24    160
Matchweek 23    160
Matchweek 22    160
Matchweek 2     160
Matchweek 20    160
Matchweek 19    160
Matchweek 18    160
Matchweek 21    160
Matchweek 16    160
Matchweek 8     160
Matchweek 3     160
Matchweek 4     160
Matchweek 14    160
Matchweek 6     160
Matchweek 7     160
Matchweek 5     160
Matchweek 9     160
Matchweek 10    160
Matchweek 11    160
Matchweek 12    160
Matchweek 13    160
Matchweek 29    158
Matchweek 30    140
Matchweek 31    140
Matchweek 32    140
Matchweek 33    140
Matchweek 35    140
Matchweek 36    140
Matchweek 37    140
Matchweek 34    140
Matchweek 38    140
Name: count, dtype: int64

In [1022]:

df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5898 entries, 0 to 5897
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           5898 non-null   datetime64[ns]
 1   time           5898 non-null   object
 2   comp           5898 non-null   object
 3   round          5898 non-null   object
 4   day            5898 non-null   object
 5   venue          5898 non-null   object
 6   result         5898 non-null   object
 7   gf             5898 non-null   float64
 8   ga             5898 non-null   float64
 9   opponent       5898 non-null   object
 10  xg             5898 non-null   float64
 11  xga            5898 non-null   float64
 12  poss           5898 non-null   float64
 13  attendance     5010 non-null   float64
 14  captain        5898 non-null   object
 15  formation      5898 non-null   object
 16  opp formation  5898 non-null   object
 17  referee        5898 non-null   object
 18  match report   5898 non-null   object
 19  notes          0 non-null      float64
 20  sh             5898 non-null   float64
 21  sot            5898 non-null   float64
 22  dist           5895 non-null   float64
 23  fk             5898 non-null   float64
 24  pk             5898 non-null   int64
 25  pkatt          5898 non-null   int64
 26  season         5898 non-null   int64
 27  team           5898 non-null   object
dtypes: datetime64[ns](1), float64(11), int64(3), object(13)
memory usage: 1.3+ MB

In [1023]:
df['venue_code'] = df['venue'].apply(lambda x: 0 if x == 'Home' else 1)
df['opp_code'] = df['opponent'].astype('category').cat.codes
df['team_code'] = df['team'].astype('category').cat.codes
df.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,sot,dist,fk,pk,pkatt,season,team,venue_code,opp_code,team_code
0,2024-08-17,12:30,Premier League,Matchweek 1,Sat,Away,W,2.0,0.0,Ipswich Town,...,5.0,14.8,0.0,0,0,2024,Liverpool,1,12,15
1,2024-08-25,16:30,Premier League,Matchweek 2,Sun,Home,W,2.0,0.0,Brentford,...,8.0,13.6,1.0,0,0,2024,Liverpool,0,3,15
2,2024-09-01,16:00,Premier League,Matchweek 3,Sun,Away,W,3.0,0.0,Manchester Utd,...,3.0,13.4,0.0,0,0,2024,Liverpool,1,18,15
3,2024-09-14,15:00,Premier League,Matchweek 4,Sat,Home,L,0.0,1.0,Nott'ham Forest,...,5.0,14.9,0.0,0,0,2024,Liverpool,0,21,15
4,2024-09-21,15:00,Premier League,Matchweek 5,Sat,Home,W,3.0,0.0,Bournemouth,...,12.0,16.6,0.0,0,0,2024,Liverpool,0,2,15

In [1024]:
df['hour'] = df['time'].str.split(':').str[0].astype(int)

del df['comp']
del df['notes']
df.head()

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,dist,fk,pk,pkatt,season,team,venue_code,opp_code,team_code,hour
0,2024-08-17,12:30,Matchweek 1,Sat,Away,W,2.0,0.0,Ipswich Town,2.6,...,14.8,0.0,0,0,2024,Liverpool,1,12,15,12
1,2024-08-25,16:30,Matchweek 2,Sun,Home,W,2.0,0.0,Brentford,2.5,...,13.6,1.0,0,0,2024,Liverpool,0,3,15,16
2,2024-09-01,16:00,Matchweek 3,Sun,Away,W,3.0,0.0,Manchester Utd,1.8,...,13.4,0.0,0,0,2024,Liverpool,1,18,15,16
3,2024-09-14,15:00,Matchweek 4,Sat,Home,L,0.0,1.0,Nott'ham Forest,0.9,...,14.9,0.0,0,0,2024,Liverpool,0,21,15,15
4,2024-09-21,15:00,Matchweek 5,Sat,Home,W,3.0,0.0,Bournemouth,2.0,...,16.6,0.0,0,0,2024,Liverpool,0,2,15,15

In [1025]:
df['day_code'] = df['date'].dt.dayofweek
df.sample(10)

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,fk,pk,pkatt,season,team,venue_code,opp_code,team_code,hour,day_code
4467,2018-12-02,12:00,Matchweek 14,Sun,Home,W,2.0,0.0,Fulham,2.1,...,3.0,0,0,2018,Chelsea,0,10,7,12,6
3514,2020-12-05,15:00,Matchweek 11,Sat,Away,L,0.0,2.0,Manchester City,0.3,...,0.0,0,0,2020,Fulham,1,17,10,15,5
3698,2019-09-14,15:00,Matchweek 5,Sat,Home,W,1.0,0.0,Leicester City,1.2,...,2.0,1,1,2019,Manchester United,0,14,18,15,5
2065,2022-09-03,15:00,Matchweek 6,Sat,Away,L,0.0,1.0,Wolves,1.2,...,1.0,0,0,2022,Southampton,1,30,23,15,5
3163,2020-09-19,15:00,Matchweek 2,Sat,Home,W,4.0,3.0,Fulham,1.4,...,1.0,1,1,2020,Leeds United,0,10,13,15,5
3280,2020-10-17,20:00,Matchweek 5,Sat,Home,L,1.0,4.0,Manchester Utd,0.9,...,0.0,0,0,2020,Newcastle United,0,18,19,20,5
3077,2021-04-05,20:15,Matchweek 30,Mon,Away,W,3.0,2.0,Wolves,1.3,...,0.0,0,0,2020,West Ham United,1,30,29,20,0
5345,2017-12-16,15:00,Matchweek 18,Sat,Home,W,1.0,0.0,Newcastle Utd,1.8,...,0.0,0,0,2017,Arsenal,0,19,0,15,5
5196,2017-12-30,17:30,Matchweek 21,Sat,Home,D,0.0,0.0,Southampton,1.7,...,1.0,0,0,2017,Manchester United,0,23,18,17,5
969,2023-11-12,14:00,Matchweek 12,Sun,Home,D,1.0,1.0,Sheffield Utd,1.5,...,0.0,0,0,2023,Brighton and Hove Albion,0,22,4,14,6

In [1026]:
df['target'] = (df['result'] == 'W').astype(int)
df.head()

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,pk,pkatt,season,team,venue_code,opp_code,team_code,hour,day_code,target
0,2024-08-17,12:30,Matchweek 1,Sat,Away,W,2.0,0.0,Ipswich Town,2.6,...,0,0,2024,Liverpool,1,12,15,12,5,1
1,2024-08-25,16:30,Matchweek 2,Sun,Home,W,2.0,0.0,Brentford,2.5,...,0,0,2024,Liverpool,0,3,15,16,6,1
2,2024-09-01,16:00,Matchweek 3,Sun,Away,W,3.0,0.0,Manchester Utd,1.8,...,0,0,2024,Liverpool,1,18,15,16,6,1
3,2024-09-14,15:00,Matchweek 4,Sat,Home,L,0.0,1.0,Nott'ham Forest,0.9,...,0,0,2024,Liverpool,0,21,15,15,5,0
4,2024-09-21,15:00,Matchweek 5,Sat,Home,W,3.0,0.0,Bournemouth,2.0,...,0,0,2024,Liverpool,0,2,15,15,5,1

In [1027]:
from sklearn.ensemble import RandomForestClassifier

In [1028]:
rf = RandomForestClassifier(n_estimators=250, random_state=1, min_samples_split=10)

In [1029]:

train = df[df['date'] < '2023-01-01']
test = df[df['date'] > '2023-01-01']   
train.shape

(4128, 32)

In [1030]:
predictors = ['venue_code', 'opp_code', 'team_code', 'hour', 'day_code']
rf.fit(train[predictors], train['target'])

RandomForestClassifier(min_samples_split=10, n_estimators=250, random_state=1)

In [1031]:
preds = rf.predict(test[predictors])

In [1032]:
from sklearn.metrics import accuracy_score

In [1033]:
acc = accuracy_score(test['target'], preds)

In [1034]:
acc

0.6257078142695357

In [1035]:
combined = pd.DataFrame(dict(actual=test['target'], prediction=preds))

In [1036]:
pd.crosstab(index=combined['actual'], columns=combined['prediction'], rownames=['actual'], colnames=['predicted'])

predicted    0    1
actual
0          836  250
1          411  269

In [1037]:
from sklearn.metrics import precision_score

In [1038]:
precision_score(test['target'], preds)

0.5183044315992292

In [1039]:
grouped_matches = df.groupby('team')

In [1040]:
group = grouped_matches.get_group('Arsenal').sort_values('date')

In [1041]:
group

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,pk,pkatt,season,team,venue_code,opp_code,team_code,hour,day_code,target
5328,2017-08-11,19:45,Matchweek 1,Fri,Home,W,4.0,3.0,Leicester City,2.5,...,0,0,2017,Arsenal,0,14,0,19,4,1
5329,2017-08-19,17:30,Matchweek 2,Sat,Away,L,0.0,1.0,Stoke City,1.5,...,0,0,2017,Arsenal,1,24,0,17,5,0
5330,2017-08-27,16:00,Matchweek 3,Sun,Away,L,0.0,4.0,Liverpool,0.6,...,0,0,2017,Arsenal,1,15,0,16,6,0
5331,2017-09-09,15:00,Matchweek 4,Sat,Home,W,3.0,0.0,Bournemouth,2.2,...,0,0,2017,Arsenal,0,2,0,15,5,1
5332,2017-09-17,13:30,Matchweek 5,Sun,Away,D,0.0,0.0,Chelsea,1.4,...,0,0,2017,Arsenal,1,7,0,13,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,2025-02-15,12:30,Matchweek 25,Sat,Away,W,2.0,0.0,Leicester City,1.4,...,0,0,2024,Arsenal,1,14,0,12,5,1
54,2025-02-22,15:00,Matchweek 26,Sat,Home,L,0.0,1.0,West Ham,1.2,...,0,0,2024,Arsenal,0,29,0,15,5,0
55,2025-02-26,19:30,Matchweek 27,Wed,Away,D,0.0,0.0,Nott'ham Forest,1.0,...,0,0,2024,Arsenal,1,21,0,19,2,0
56,2025-03-09,16:30,Matchweek 28,Sun,Away,D,1.0,1.0,Manchester Utd,1.6,...,0,0,2024,Arsenal,1,18,0,16,6,0
57,2025-03-16,13:30,Matchweek 29,Sun,Home,W,1.0,0.0,Chelsea,0.7,...,0,0,2024,Arsenal,0,7,0,13,6,1

In [1042]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values('date')
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [1043]:
cols = ['gf', 'ga', 'sh','sot', 'dist', 'fk', 'pk', 'pkatt']
new_cols = [f"{c}_rolling" for c in cols]

In [1044]:
new_cols

['gf_rolling',
 'ga_rolling',
 'sh_rolling',
 'sot_rolling',
 'dist_rolling',
 'fk_rolling',
 'pk_rolling',
 'pkatt_rolling']

In [1045]:
rolling_averages(group, cols, new_cols)

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
5331,2017-09-09,15:00,Matchweek 4,Sat,Home,W,3.0,0.0,Bournemouth,2.2,...,5,1,1.333333,2.666667,17.666667,5.333333,18.133333,0.000000,0.000000,0.000000
5332,2017-09-17,13:30,Matchweek 5,Sun,Away,D,0.0,0.0,Chelsea,1.4,...,6,0,1.000000,1.666667,14.333333,5.000000,16.766667,0.333333,0.000000,0.000000
5333,2017-09-25,20:00,Matchweek 6,Mon,Home,W,2.0,0.0,West Brom,2.2,...,0,1,1.000000,1.333333,12.000000,3.666667,16.566667,0.333333,0.000000,0.000000
5334,2017-10-01,12:00,Matchweek 7,Sun,Home,W,2.0,0.0,Brighton,2.4,...,6,1,1.666667,0.000000,14.333333,5.333333,17.400000,1.333333,0.333333,0.333333
5335,2017-10-14,17:30,Matchweek 8,Sat,Away,L,1.0,2.0,Watford,1.0,...,5,0,1.333333,0.000000,17.000000,5.000000,18.333333,1.666667,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,2025-02-15,12:30,Matchweek 25,Sat,Away,W,2.0,0.0,Leicester City,1.4,...,5,1,2.666667,1.000000,13.000000,5.333333,15.366667,0.333333,0.000000,0.000000
54,2025-02-22,15:00,Matchweek 26,Sat,Home,L,0.0,1.0,West Ham,1.2,...,5,0,2.666667,0.333333,10.666667,5.000000,15.900000,0.333333,0.000000,0.000000
55,2025-02-26,19:30,Matchweek 27,Wed,Away,D,0.0,0.0,Nott'ham Forest,1.0,...,2,0,2.333333,0.666667,14.333333,4.666667,16.366667,0.333333,0.000000,0.000000
56,2025-03-09,16:30,Matchweek 28,Sun,Away,D,1.0,1.0,Manchester Utd,1.6,...,6,0,0.666667,0.333333,14.666667,2.666667,15.800000,0.333333,0.000000,0.000000
57,2025-03-16,13:30,Matchweek 29,Sun,Home,W,1.0,0.0,Chelsea,0.7,...,6,1,0.333333,0.666667,16.666667,3.000000,16.633333,0.666667,0.000000,0.000000

In [1046]:
matches_rolling = df.groupby('team').apply(lambda x: rolling_averages(x, cols, new_cols))

In [1047]:
matches_rolling = matches_rolling.reset_index(drop=True)

In [1048]:
matches_rolling

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
0,2017-09-09,15:00,Matchweek 4,Sat,Home,W,3.0,0.0,Bournemouth,2.2,...,5,1,1.333333,2.666667,17.666667,5.333333,18.133333,0.000000,0.000000,0.000000
1,2017-09-17,13:30,Matchweek 5,Sun,Away,D,0.0,0.0,Chelsea,1.4,...,6,0,1.000000,1.666667,14.333333,5.000000,16.766667,0.333333,0.000000,0.000000
2,2017-09-25,20:00,Matchweek 6,Mon,Home,W,2.0,0.0,West Brom,2.2,...,0,1,1.000000,1.333333,12.000000,3.666667,16.566667,0.333333,0.000000,0.000000
3,2017-10-01,12:00,Matchweek 7,Sun,Home,W,2.0,0.0,Brighton,2.4,...,6,1,1.666667,0.000000,14.333333,5.333333,17.400000,1.333333,0.333333,0.333333
4,2017-10-14,17:30,Matchweek 8,Sat,Away,L,1.0,2.0,Watford,1.0,...,5,0,1.333333,0.000000,17.000000,5.000000,18.333333,1.666667,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5791,2025-02-16,14:00,Matchweek 25,Sun,Away,L,1.0,2.0,Liverpool,1.5,...,6,0,1.000000,1.333333,8.666667,4.333333,18.633333,0.333333,0.000000,0.000000
5792,2025-02-22,15:00,Matchweek 26,Sat,Away,W,1.0,0.0,Bournemouth,2.0,...,5,1,1.000000,1.000000,11.000000,4.333333,20.400000,1.000000,0.000000,0.000000
5793,2025-02-25,19:30,Matchweek 27,Tue,Home,L,1.0,2.0,Fulham,1.3,...,1,0,1.333333,0.666667,12.333333,4.666667,18.900000,1.333333,0.000000,0.000000
5794,2025-03-08,20:00,Matchweek 28,Sat,Home,D,1.0,1.0,Everton,0.8,...,5,0,1.000000,1.333333,15.666667,4.666667,19.133333,2.000000,0.000000,0.000000
5795,2025-03-15,15:00,Matchweek 29,Sat,Away,W,2.0,1.0,Southampton,0.4,...,5,1,1.000000,1.000000,14.000000,4.333333,17.900000,1.666667,0.000000,0.000000

In [1049]:
def make_predictions(data, predictors):
    train = data[data['date'] < '2023-01-01']
    test = data[data['date'] > '2023-01-01'] 
    rf.fit(train[predictors], train['target'])
    preds = rf.predict(test[predictors]) 
    combined = pd.DataFrame(dict(actual=test['target'], prediction=preds), index=test.index)
    precision = precision_score(test['target'], preds)
    return combined, precision

In [1050]:

combined, precision = make_predictions(matches_rolling, predictors + new_cols)

In [1051]:
precision

0.5915492957746479

In [1052]:
combined

      actual  prediction
203        0           1
204        1           1
205        1           0
206        0           1
207        0           1
...      ...         ...
5791       0           0
5792       1           0
5793       0           0
5794       0           1
5795       1           1

[1760 rows x 2 columns]

In [1053]:
combined = combined.merge(matches_rolling[['date', 'team', 'opponent', 'result']], left_index=True, right_index=True)

In [1054]:
combined

,actual,prediction,date,team,opponent,result
203,0,1,2023-01-03,Arsenal,Newcastle Utd,D
204,1,1,2023-01-15,Arsenal,Tottenham,W
205,1,0,2023-01-22,Arsenal,Manchester Utd,W
206,0,1,2023-02-04,Arsenal,Everton,L
207,0,1,2023-02-11,Arsenal,Brentford,D
...,...,...,...,...,...,...
5791,0,0,2025-02-16,Wolverhampton Wanderers,Liverpool,L
5792,1,0,2025-02-22,Wolverhampton Wanderers,Bournemouth,W
5793,0,0,2025-02-25,Wolverhampton Wanderers,Fulham,L
5794,0,1,2025-03-08,Wolverhampton Wanderers,Everton,D
5795,1,1,2025-03-15,Wolverhampton Wanderers,Southampton,W

In [1055]:
feature_importance = pd.DataFrame({
    'Feature': predictors + new_cols,
    'Importance': rf.feature_importances_
}).sort_values(by='Importance', ascending=False)

print(feature_importance)

          Feature  Importance
9    dist_rolling    0.137087
1        opp_code    0.134717
7      sh_rolling    0.132802
2       team_code    0.118621
8     sot_rolling    0.104451
5      gf_rolling    0.077108
6      ga_rolling    0.076774
3            hour    0.056741
10     fk_rolling    0.049509
4        day_code    0.044750
0      venue_code    0.027121
12  pkatt_rolling    0.021963
11     pk_rolling    0.018357

In [1056]:
class MissingDict(dict):
    __missing__= lambda self, key: key
map_values = {
        "Brighton and Hove Albion": "Brighton",
        "Manchester United": "Manchester Utd",
        "Newcastle United": "Newcastle Utd",
        "Tottenham Hotspur": "Tottenham",
        "West Ham United": "West Ham",
        "Wolverhampton Wanderers": "Wolves",
    }

mapping = MissingDict(**map_values)

In [1057]:
mapping["West Ham United"]

'West Ham'

In [1058]:
combined['new_team'] = combined['team'].map(mapping)
combined

,actual,prediction,date,team,opponent,result,new_team
203,0,1,2023-01-03,Arsenal,Newcastle Utd,D,Arsenal
204,1,1,2023-01-15,Arsenal,Tottenham,W,Arsenal
205,1,0,2023-01-22,Arsenal,Manchester Utd,W,Arsenal
206,0,1,2023-02-04,Arsenal,Everton,L,Arsenal
207,0,1,2023-02-11,Arsenal,Brentford,D,Arsenal
...,...,...,...,...,...,...,...
5791,0,0,2025-02-16,Wolverhampton Wanderers,Liverpool,L,Wolves
5792,1,0,2025-02-22,Wolverhampton Wanderers,Bournemouth,W,Wolves
5793,0,0,2025-02-25,Wolverhampton Wanderers,Fulham,L,Wolves
5794,0,1,2025-03-08,Wolverhampton Wanderers,Everton,D,Wolves
5795,1,1,2025-03-15,Wolverhampton Wanderers,Southampton,W,Wolves

In [1059]:
merged = combined.merge(combined, left_on=['date', 'new_team'], right_on=['date', 'opponent'])

In [1060]:
merged

,actual_x,prediction_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,prediction_y,team_y,opponent_y,result_y,new_team_y
0,0,1,2023-01-03,Arsenal,Newcastle Utd,D,Arsenal,0,0,Newcastle United,Arsenal,D,Newcastle Utd
1,1,1,2023-01-15,Arsenal,Tottenham,W,Arsenal,0,0,Tottenham Hotspur,Arsenal,L,Tottenham
2,1,0,2023-01-22,Arsenal,Manchester Utd,W,Arsenal,0,1,Manchester United,Arsenal,L,Manchester Utd
3,0,1,2023-02-04,Arsenal,Everton,L,Arsenal,1,0,Everton,Arsenal,W,Everton
4,0,1,2023-02-11,Arsenal,Brentford,D,Arsenal,0,0,Brentford,Arsenal,D,Brentford
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1623,0,0,2025-02-16,Wolverhampton Wanderers,Liverpool,L,Wolves,1,1,Liverpool,Wolves,W,Liverpool
1624,1,0,2025-02-22,Wolverhampton Wanderers,Bournemouth,W,Wolves,0,1,Bournemouth,Wolves,L,Bournemouth
1625,0,0,2025-02-25,Wolverhampton Wanderers,Fulham,L,Wolves,1,0,Fulham,Wolves,W,Fulham
1626,0,1,2025-03-08,Wolverhampton Wanderers,Everton,D,Wolves,0,0,Everton,Wolves,D,Everton
1627,1,1,2025-03-15,Wolverhampton Wanderers,Southampton,W,Wolves,0,0,Southampton,Wolves,L,Southampton

In [1061]:
actual_x = merged[(merged['prediction_x'] == 1) & (merged['prediction_y'] == 0)]["actual_x"].value_counts()

In [1062]:
precision = actual_x.loc[1] / (actual_x.loc[1] + actual_x.loc[0])
precision

0.6180371352785146